/* Global */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Dosis', sans-serif;
    color:#151d26 ;
    background-color: white;
    letter-spacing: 1px;
}
/* HEADER  */
header{
    background-color: #f28acc;
    padding: 15px 0;
}
.header__content{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header__content ul{
    list-style: none;  
}
.header__content li{
    display: inline;
    margin: 0 1rem ;
}
.header__content ul a{
    text-decoration: none;
    color: white;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 2px;
    transition: all 0.7s;
}
.header__content ul a:hover{
    color:#a80a6e;
}
.header__content p{
    color: white;
    font-size: 2.4rem;
}
.header__content ul .active a{
    color: #a80a6e;
} 

/* CAROUSEL */
.carousel{
    display: flex;
    height: 800px;
    justify-content: center;
    background-image: url(../bookImages/b4.jpg);
    background-size: cover;
    background-position: center;
}
.carousel__content{
    text-align: center;
    margin-top: 250px;
}
.carousel__content h1{
    font-size: 4rem;
    color: white;
}
.carousel__content p{
font-size: 1.2rem;
color: white;
margin: 10px 0;
}
.carousel__content button{
   padding: 10px 20px; 
   border-radius: 5px;
   background-color: pink;
   border: 1px solid white;
   margin-top: 20px;
}
/* INTRO  */
.intro{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.book_10{
    grid-column: 2 / 4;
}
.business{
    grid-column: 1 / 3;
}
.book_5{
    grid-column: 3 / 5 ;
}
.intro__item img {
  width: 100%;
  display: block;
  height: 350px;
}
.intro__text{
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0 30px;
}
.intro__text h2{
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: white;
}
.intro__text p{
    color:#d6d3d0;
}
#novel{
    background-color:#e080ed ;
}
#math{
    background-color: rgb(211, 102, 13);
}
#business{
background-color: #476af5;
}
#arts{
    background-color: #3ca343;

}
#his{
    background-color: #e827a8;

}
/* Number  */
.number{
    display: flex;
    width: 80%;
    height: 200px;
    margin: auto;
    align-items: center;
}
.number__content{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.number__item{
    text-align: center;
}
.number__item p{
    margin-bottom: 30px;
    font-size: 2rem;
    color:  #f28acc;
}
.number__item h4{
    font-size: 2rem;
    background-clip: inherit;
    letter-spacing: 4px;
    color: #4f4d4f;
}
/* PRICES */
.prices{
    background-image: url(../bookImages/bookBg.jpg);
    background-size: cover;
    background-position: center;
}
.prices_content{
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 70px;
}
.prices_header{
    margin: 0 0 40px;
}
.prices_header h3{
    font-size: 3rem;
    font-weight: 300;
    color:white;
}
.prices_services{
    display: flex;
    justify-content: space-around;
}
.service_item{
    width: 200px;
}
.service_item h5{
    font-size: 2rem;
    margin: 15px 0;
    color: white;
    letter-spacing: 3.5px;
}
.service_item p{
    margin-bottom: 15px;
    font-style: italic;
    color: white;
    font-size: 1.4rem;
    letter-spacing: 5px;
}
.service_item p span{
    text-decoration: line-through;
    color: black;
    font-size: 0.8rem;
}

.service_item button{
   padding: 10px 20px; 
   border-radius: 5px;
   background-color: pink;
   border: 1px solid white;
   margin: 10px 0
   
} 
/* READER PICK */
.pick h2{
    text-align: center;
    font-size: 2rem;
    margin: 40px 0 30px;
}

.pick_content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.pick_item img{
    width: 100%;
    height: 102%;
    display: block;
}
.pick_1{
    grid-column: 1 / 3;
}
.pick_6{
    grid-column: 3 / 5;
}

.pick_item{
    position: relative;
    overflow: hidden;
}

.pick_cap{
    position: absolute;
    top: 0;
    left: 0;
}

